@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Noto+Serif+JP:wght@600;700;900&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,500;0,6..12,700;0,6..12,800;0,6..12,900;1,6..12,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
header ul, .font-montserrat{
    font-family: 'Montserrat', sans-serif;
} 

body {
    font-family: 'Nunito Sans', sans-serif;
}
h1 {
    font-family: 'Noto Serif JP', serif;
}